.bestbid {
  font-size: 1.8em;
  background-color: gray;
  color: white;
  display: inline-block;
  padding: 10px;
}

.bestask {
  font-size: 1.8em;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 10px;
}

.medianclose {
  font-size: 1.8em;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  padding: 10px;
  margin-left: 25px;
}